.game-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select:none;
}

.game-cell:hover {
  color: red;
  background-color: orange;
  border-radius: 50%;
}

.right-main-border:before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 5px solid tomato;
}

.right-additional-border:before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 25px;
  border-right: 2px solid orange;
}

.bottom-main-border:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-bottom: 5px solid tomato;
}

.bottom-additional-border:after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 40px;
  border-bottom: 2px solid orange;
}
