<div class="game-cell"
     [ngClass]="{
        'bottom-main-border': cellPosition.rowPosition === 2 || cellPosition.rowPosition === 5,
        'right-main-border': cellPosition.columnPosition === 2 || cellPosition.columnPosition === 5,
        'bottom-additional-border': cellPosition.rowPosition !== 2 && cellPosition.rowPosition !== 5 && cellPosition.rowPosition !== 8,
        'right-additional-border': cellPosition.columnPosition !== 2 && cellPosition.columnPosition !== 5 && cellPosition.columnPosition !== 8,
        'active-game-cell': isCurrentCellActive
     }"
     (click)="selectCell()">
  <span class="current-value">{{currentValue}}</span>
  <div class="inner-cell"
        [ngClass]="{'inner-cell-additional': isHelperSelectionActive}">
  </div>
  <div class="notes" *ngIf="!currentValue">
    <div class="first-line">
      <div class="note one" *ngIf="notesArray.indexOf(1) !== -1">1</div>
      <div class="note two" *ngIf="notesArray.indexOf(2) !== -1">2</div>
    </div>
    <div class="second-line">
      <div class="note three" *ngIf="notesArray.indexOf(3) !== -1">3</div>
      <div class="note four" *ngIf="notesArray.indexOf(4) !== -1">4</div>
      <div class="note five" *ngIf="notesArray.indexOf(5) !== -1">5</div>
      <div class="note six" *ngIf="notesArray.indexOf(6) !== -1">6</div>
    </div>
    <div class="third-line">
      <div class="note seven" *ngIf="notesArray.indexOf(7) !== -1">7</div>
      <div class="note eight" *ngIf="notesArray.indexOf(8) !== -1">8</div>
      <div class="note nine" *ngIf="notesArray.indexOf(9) !== -1">9</div>
    </div>
  </div>
</div>
